header {
    background-image: url(/img/12.jpg);
    max-height: 350px;
    padding-top: 60px;
    padding-top: 60px;
    text-align: center;
    border-radius: 8px;
    border: black 2px solid;
}

body {
    background: rgb(143, 167, 10);
}

section {
    text-align: center;
    border: 2px solid black;
    background-color: rgb(5, 1, 1);
    border-radius: 8px;
}

h2 {
    color: rgb(32, 224, 14);
}

footer {
    background-image: url(/img/12.jpg);
    text-align: center;
    padding: 15px 0;
    border: 2px solid black;
    border-radius: 0 0 8px 8px;
}